data/
dest/
DATA_BLOCK/
output/
OUTPUT_BLOCK/
socialforce-master/
profile_trace*.json

# Python
venv*/
*.pyc
*.egg-info/
dist/
.pytest_cache/

# Editors
.vscode/

# OS
.DS_Store


*.png
*.txt
*.run
*.sh
Makefile
Makefile_backup

## car
video/
wta_expts/
highway_vid/

##Style
trajnetbaselines/style_lstm/
trajnetbaselines/lstm/style_encoder.py
tests/test_style.py