data/
dest/
DATA_BLOCK/
output/
OUTPUT_BLOCK/
socialforce-master/
profile_trace*.json
checkpoints

*.txt
*.png
*.sh
*.run
*.pt

# Python
venv*/
*.pyc
*.egg-info/
dist/
.pytest_cache/

# Editors
.vscode/

# OS
.DS_Store

Makefile
Makefile_backup

## Car
highway_vid/
video/

##WTA
wta_expts/
trajnetbaselines/wta_lstm_backup/
