data/
dest/
DATA_BLOCK/
output/
OUTPUT_BLOCK/
socialforce-master/
profile_trace*.json

*.txt
*.png
*.sh
*.run


# Python
venv*/
*.pyc
*.egg-info/
dist/
.pytest_cache/

# Editors
.vscode/

# OS
.DS_Store
