[BASIC]

variable-rgx=[a-z0-9_]{1,30}$
good-names=i,n,nx,ny,xy,r

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=numpy.*,torch.*
